{% extends 'admin/base.html.twig' %}

{% block sidebar %}
    <ul class="navbar-nav text-light" id="adminSidebar">
        <li class="nav-item" id="side">
            <a class="nav-link active" href="{{ path('mentor-home') }}" style="background: #ededed;"><i class="fa fa-home" style="color: rgb(33,83,150);width: 20px;height: 20px;"></i><span style="color: #215396;font-size: 20px;">Home</span></a>
            <a class="nav-link" href="{{ path('mentor-profile') }}"><i class="fa fa-user" style="color: rgb(255,255,255);width: 20px;height: 20px;"></i><span style="color: rgb(255,255,255);font-size: 20px;">Profile</span></a>
            <a class="nav-link" href="{{ path('mentor-all-courses') }}"><i class="fa fa-file" style="color: rgb(255,255,255);width: 20px;height: 20px;"></i><span style="color: rgb(255,255,255);font-size: 20px;">Courses</span></a>
            <a class="nav-link" href="{{ path('mentor-all-students') }}"><i class="fa fa-users" style="color: rgb(255,255,255);width: 20px;height: 20px;"></i><span style="font-size: 20px;color: rgb(255,255,255);">Students</span></a>
            <a class="nav-link" href="{{ path('mentor-timetable') }}"><i class="fas fa-clock" style="color: rgb(255,255,255);width: 20px;height: 20px;"></i><span style="font-size: 20px;color: rgb(255,255,255);">Timetable</span></a>
            <a class="nav-link" href="{{ path('mentor-achievements') }}"><i class="fas fa-certificate" style="color: rgb(255,255,255);width: 20px;height: 20px;"></i><span style="color: rgb(255,255,255);font-size: 20px;">Achievements</span></a>
        </li>
    </ul>
{% endblock %}
{% block main %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0" style="margin-bottom: 5px;color: rgb(90, 92, 105);">Dashboard</h3><a class="btn btn-primary btn-sm" role="button" href="{{ path('create-course') }}" style="color: rgb(255, 255, 255);background: #215396;padding: 10px;"><i class="fas fa-plus fa-sm text-white-50"></i>&nbsp;Create a New Course</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Students Number</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>5</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Pending Requests</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>18</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-user-plus fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>To do tasks</span></div>
                                            <div class="text-dark font-weight-bold h5 mb-0"><span>2</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-tasks fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-left-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col mr-2">
                                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>This week's meetings</span></div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>5</span></div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-info" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span class="sr-only">70%</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 style="color: #5a5c69;font-size: 26px;background: rgba(248,249,252,0);padding: 5px;">Current Courses</h1>
                    <div class="row">
                        {% for course in currentCourses %}
                            <div class="card d-block" style="width: 450px;margin-bottom: 30px; margin-left: 30px;">
                                <div class="card-body">
                                    <div style="width: 100%; height: 150px"><img src="{{ asset('assets/img/dogs/course.jpg') }}" style="max-height: 100%;margin-left: 50%;transform: translateX(-50%);width: 100%;"></div>
                                    <hr>
                                    <div class="row">
                                        <div class="col col-10" style="border-color: rgb(133, 135, 150);border-top-color: rgb(133,;border-right-color: 135,;border-bottom-color: 150);border-left-color: 135,;">
                                            <h4 style="margin-top: 10px;font-size: 18px;color: #215396;">{{ course.getCode() }} - {{ course.getName() }}</h4>
                                        </div>
                                        <div class="col col-1" style="position: relative;right: 0px;margin-top: 10px;margin-left: 10px;"><a href="#"><i class="fas fa-ellipsis-v" style="color: var(--gray);"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: rgb(248, 249, 252);">
                                    <h6 class="text-primary font-weight-bold m-0" style="color: #215396;font-size: 26px;">This Week's Activity</h6>
                                </div>
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <div style="text-align: center;color: var(--red);"><span>SUN</span>
                                                <p>28 May</p>
                                            </div>
                                            <hr style="margin: 6px;margin-right: 0px;margin-left: 0px;margin-top: 6px;margin-bottom: 10px;">
                                            <h4 class="card-title">CEN 110</h4>
                                            <p class="card-text">Something that needs to be done</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer"><a class="btn btn-secondary btn-icon-split" role="button" style="margin-bottom: 10px;margin-right: 5px;margin-left: 5px;width: 100%;color: rgb(255, 255, 255);background: #215396;"><span class="text-white-50 icon" style="background: rgb(33,83,150);"><i class="fas fa-users" style="color: rgb(255,255,255);"></i></span><span class="text-white text" style="color: rgb(255, 255, 255);">Setup a meeting</span></a></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary font-weight-bold m-0" style="color: #215396;font-size: 26px;">Todo List</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">10:30 AM</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"></label></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">11:30 AM</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-2"><label class="custom-control-label" for="formCheck-2"></label></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <h6 class="mb-0"><strong>Lunch meeting</strong></h6><span class="text-xs">12:30 AM</span>
                                            </div>
                                            <div class="col-auto">
                                                <div class="custom-control custom-checkbox"><input class="custom-control-input" type="checkbox" id="formCheck-3"><label class="custom-control-label" for="formCheck-3"></label></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul><a class="btn btn-primary btn-icon-split" role="button" style="border-radius: 0px;background: #215396;"><span class="text-white text">Add To-do Task</span></a>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}