{% extends 'security/base.html.twig' %}
{% block main %}
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5" style="width: 700px;margin-left: 185px;">
            <div class="card-body p-0">
                <div class="p-5" style="background: #ededed;">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Create an Account!</h4>
                    </div>
                    {# <form class="user"> #}
                        {{ form_start(form,{'attr': {'class':'user'}}) }}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {# <input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name"> #}
                                {{ form_widget(form.name, {'attr': {'class':'form-control form-control-user', 'type':'text', 'id':'name', 'placeholder':'First Name', 'name':'name'}}) }}
                            </div>
                            <div class="col-sm-6">
                                {# <input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Last Name" name="last_name"> #}
                                {{ form_widget(form.surname, {'attr': {'class':'form-control form-control-user', 'type':'text', 'id':'surname', 'placeholder':'Last Name', 'name':'surname'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {# <input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Epoka Email Address" name="email"> #}
                            {{ form_widget(form.email, {'attr': {'class':'form-control form-control-user', 'type':'email', 'id':'email', 'placeholder':'Epoka Mail Address', 'name':'email'}}) }}
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                {# <input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"> #}
                                {{ form_widget(form.password.first, {'attr': {'class':'form-control form-control-user', 'type':'password', 'id':'password', 'placeholder':'Password', 'name':'password'}}) }}
                            </div>
                            <div class="col-sm-6">
                                {# <input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"> #}
                                {{ form_widget(form.password.second, {'attr': {'class':'form-control form-control-user', 'type':'password', 'id':'password_repeat', 'placeholder':'Repeat Password', 'name':'password_repeat'}}) }}
                            </div>
                        </div>
                        <div class="dropdown" style="margin: auto;margin-top: 0;">
                            <button class="btn btn-primary dropdown-toggle form-control" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-left: 50%;margin-top: 0;background: rgb(255,255,255);color: var(--blue);font-size: 14px;transform: translateX(-50%);border-radius: 46px;border-color: #215396;">Choose Role</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                            {# {{ form_widget(form.role, {'attr': {'class':'btn btn-primary dropdown-toggle form-control', 'type':'button', 'id':'role', 'placeholder':'Choose Role', 'name':'role', 'data-toggle':'dropdown'}}) }} #}
                        </div>
                        <div class="dropdown" style="margin: auto;margin-bottom: 10px;"><button class="btn btn-primary dropdown-toggle form-control" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-left: 50%;margin-top: 16px;background: rgb(255,255,255);color: var(--blue);font-size: 14px;transform: translateX(-50%);border-radius: 46px;border-color: #215396;">Choose Department</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="background: #215396;">Register Account</button>
                        <hr>
                        <div class="dropdown" style="margin: auto;margin-top: 0;"><button class="btn btn-primary dropdown-toggle form-control" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-left: 50%;margin-top: 0;background: rgb(255,255,255);color: var(--red);font-size: 14px;transform: translateX(-50%);border-color: var(--red);border-radius: 46px;">Choose Role</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div>
                        <div class="dropdown" style="margin: auto;margin-bottom: 10px;"><button class="btn btn-primary dropdown-toggle form-control" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-left: 50%;margin-top: 16px;background: rgb(255,255,255);color: var(--red);font-size: 14px;transform: translateX(-50%);border-color: var(--red);border-radius: 46px;">Choose Department</button>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                        </div><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a>
                        <hr>
                    {{ form_end(form) }}
                    <div class="text-center"><a class="small" href="{{ path('login') }}" style="color: #215396;">Already have an account? Login!</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}