{% extends 'front/base.html.twig' %}

{% block main %}
                <div class="container-fluid">
                    <div style="height: 40px;margin: 20px;">
                        <h3 class="text-dark d-inline float-left mb-1" style="color: #215396;padding-bottom: 20px;width: 600px;height: 38px;"><strong>Currently Enrolled Courses</strong>
                            <br></h3><a class="btn btn-primary d-inline float-right btn-icon-split" href="{{ path('explore-all-courses') }}" role="button" style="text-align: left;margin-bottom: 20px;background: #215396;"><span class="text-white-50 icon"><i class="fas fa-search" style="color: rgb(255,255,255);"></i></span><span class="text-white text">Explore all courses</span></a>
                    </div>
                    <div class="row">
                            {% for course in currentlyEnrolledCourses %}
                            <div class="card d-block" style="width: 450px;margin-bottom: 30px; margin-left: 30px;">
                                <div class="card-body">
                                    <div style="width: 100%; height: 150px"><img src="{{ asset('assets/img/dogs/course.jpg') }}" style="max-height: 100%;margin-left: 50%;transform: translateX(-50%);width: 100%;"></div>
                                    <hr>
                                    <div class="row">
                                        <div class="col col-10" style="border-color: rgb(133, 135, 150);border-top-color: rgb(133,;border-right-color: 135,;border-bottom-color: 150);border-left-color: 135,;">
                                            <h4 style="margin-top: 10px;font-size: 18px;color: #215396;">{{ course.getCode() }} - {{ course.getName() }}</h4>
                                            <h4 style="margin-top: 10px;font-size: 15px;color: var(--gray);margin-bottom: 0px;">By {{ course.getMentor().getName() }} {{ course.getMentor().getSurname() }}</h4>
                                        </div>
                                        <div class="col col-1" style="position: relative;right: 0px;margin-top: 10px;margin-left: 10px;"><a href="#"><i class="fas fa-ellipsis-v" style="color: var(--gray);"></i></a></div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                    <div style="height: 40px;margin: 20px;">
                        <h3 class="text-dark d-inline float-left mb-1" style="color: #215396;padding-bottom: 20px;width: 300px;height: 38px;"><strong>Completed Courses</strong><br></h3>
                    </div>
                    <div class="row">
                            {% for course in completedEnrolledCourses %}
                            <div class="card d-block" style="width: 450px;margin-bottom: 30px; margin-left: 30px;">
                                <div class="card-body">
                                    <div style="width: 100%; height: 150px"><img src="{{ asset('assets/img/dogs/course.jpg') }}" style="max-height: 100%;margin-left: 50%;transform: translateX(-50%);width: 100%;"></div>
                                    <hr>
                                    <div class="row">
                                        <div class="col col-10" style="border-color: rgb(133, 135, 150);border-top-color: rgb(133,;border-right-color: 135,;border-bottom-color: 150);border-left-color: 135,;">
                                            <h4 style="margin-top: 10px;font-size: 18px;color: #215396;">{{ course.getCode() }} - {{ course.getName() }}</h4>
                                            <h4 style="margin-top: 10px;font-size: 15px;color: var(--gray);margin-bottom: 0px;">By {{ course.getMentor().getName() }} {{ course.getMentor().getSurname() }}</h4>
                                        </div>
                                        <div class="col col-1" style="position: relative;right: 0px;margin-top: 10px;margin-left: 10px;"><a href="#"><i class="fas fa-ellipsis-v" style="color: var(--gray);"></i></a></div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                </div>
{% endblock %}