{% extends 'security/base.html.twig' %}
{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex"><img style="width: 100%;height: 100%;padding: 20px;padding-top: 30px;padding-bottom: 30px;" src="{{ asset('assets/img/My%20Post.png') }}"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        {% if error %}
                                            <div class="alert alert-danger">
                                                {{ error.messageKey|trans(error.messageData, 'security') }}
                                            </div>
                                        {% endif %}
                                        <h4 class="text-dark mb-4">Welcome Back!</h4>
                                    </div>
                                    <form class="user" method="POST" action="{{path('login')}}">
                                        <div class="form-group">
                                            <input class="form-control form-control-user" type="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter Epoka Mail Address..." name="_email" required>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control form-control-user" type="password" id="inputPassword" placeholder="Password" name="_password" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <div class="form-check">
                                                    <input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1" name="_remember_me">Remember Me</label>
                                                </div>
                                            </div>
                                        </div><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="background: #215396;">Login</button>
                                        <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a>
                                        <hr>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                    </form>
                                    <div class="text-center"></div>
                                    <div class="text-center"><a class="small" href="{{ path('register') }}" style="color: #215396;">Create an Account!</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}